@media screen {

	div[plist] {
		height				: 450px;
	}

	div[pitem] {
		height				: 420px;
	}

	img[pimg] {
		height				: 280px;
	}

	p[pname] {
		height				: 80px;
	}

	p[pprice], p[pquantity] {
		height				: 20px;
	}

	div[plist_controls] {
		height				: 40px;
	}

}
