@media screen {

	/* enable text selection and cursor */
	.notent {
		-webkit-touch-callout: all;	/* iOS Safari */
		-webkit-user-select	: all;		/* Chrome/Safari/Opera */
		-o-user-select		: all;
		-khtml-user-select	: all;		/* Konqueror */
		-moz-user-select	: all;		/* Firefox */
		-ms-user-select		: all;		/* Internet Explorer/Edge */
		user-select			: all;		/* Non-prefixed version, currently not supported by any browser */
		cursor				: auto;
	}

	* {
		cursor				: auto;
	}

	html > body > div[plist],
	html > body > div[pinfo],
	html > body > div[pcart] {
		height				: 390px;
	}

	/*div, div[pitem]>img[pimg] {
		border				: solid 1px black;
	}*/

	html > body > div[pinfo] > div[pimg],
	html > body > div[plist] > div[ptable] > div[pitem] > div[pimg],
	div[btn], div[btc], img[btn_ico], img[btn_ico_condensed], span[btn_txt], span[check_box_ico], span[check_box_txt] {
		cursor				: pointer;
	}

	html > body > div[debug] {
		display				: inline-block;
	}

}
