@font-face {
	font-family	: "helvetica";
	src			: url(/resources/assets/helvetic.ttf);
}

@media screen, print {

	body {
		background-color	: white;
		border				: solid 0px black;
		margin				: 0mm;
		text-align			: center;
		font-family			: "Arial", "Times New Roman";
		color				: black;
		overflow			: hidden;
	}

	div, img, i, br, p, span {
		margin				: 0;
		padding				: 0;
		width				: 100%;
		float				: left;
		overflow			: hidden;
	}

	div[btn], div[btc] {
    	min-width			: 32px;
		width				: auto;
		background			: #FFDD57;
		border				: 1px solid #dfba3c;
		border-radius		: 3px;
		box-shadow			: none;
		color				: #5f5b51;
		color				: darkgreen;
		cursor				: pointer;
		display				: inline-block;
		vertical-align		: middle;
		font-size			: 24px;
		font-weight			: bold;
		overflow			: hidden;
		text-align			: center;
		text-overflow		: ellipsis;
		text-decoration		: none;
		text-transform		: uppercase;
		white-space			: nowrap;
		padding-left		: 10px;
		padding-right		: 10px;
		padding-top			: 0px;
		padding-bottom		: 0px;
		margin				: 0;
		height				: 35px;
		line-height			: 35px;
		float				: none;
		position			: relative;
	}

	div[btc] {
		background			: #D9D9D9;
		color				: #4C3C38;
		border				: 1px solid #CACACA;
	}

	img[btn_ico], img[btn_ico_condensed] {
		width				: 32px;
		height				: 32px;
		float				: none;
		vertical-align		: middle;
		/* fix: shift up */
		margin-top			: -5.1%;
	}

	img[btn_ico_condensed] {
		width				: 20px;
	}

	span[btn_txt] {
		float				: none;
		width				: auto;
		height				: auto;
	}

	div[top] {
		height				: 120px;
		margin-bottom		: 10px;
	}

	div[mag] {
		width				: auto;
		height				: inherit;
		text-align			: left;
		float				: left;
	}

	div[logo] {
		width				: auto;
		height				: 100%;
		margin-right		: 8px;
	}

	div[logo]>img {
		height				: 100%;
	}

	div[categories] {
		height				: 40px;
		margin-bottom		: 10px;
		text-align			: left;
	}

	div[categories]>div[btc] {
		margin-left			: 4px;
	}

	div[plist], div[pinfo] {
		height				: 650px;
	}

	div[pinfo] {
		display				: none;
	}

	div[pinfo]>img {
		width				: auto;
		height				: auto;
		max-width			: 30%;
	}

	div[pitem] {
		height				: 98%;
	}

	div[pitem]>img[pimg] {
		max-width			: 98%;
		height				: 50%;
		margin-bottom		: 8px;
	}

	p[pname] {
		overflow			: hidden;
		height				: 25%;
		margin-bottom		: 8px;
	}

	p[pprice], p[pquantity] {
		overflow			: hidden;
		margin-bottom		: 8px;
		font-size			: 29px;
		font-weight			: bold;
	}

	div[pcontrols] {
		vertical-align		: middle;
	}

	div[psort_controls] {
		width				: 30%;
		float				: left;
		text-align			: left;
	}

	div[list_sort_order], div[list_sort_direction] {
		margin-left			: 3px;
	}

	/* strange bug, fixed */
	div[list_sort_order]>img[btn_ico] {
		margin-top			: -1.2%;
	}

	div[plist_controls] {
		width				: 69%;
		float				: right;
		text-align			: right;
	}

	div[first_page], div[prev_page], div[next_page], div[last_page] {
		margin-right		: 3px;
	}

	div[bottom] {
		height				: 200px;
	}

	div[mount] {
		width				: 100%;
		height				: 50%;
	}

	div[mount]>img {
		width				: 100%;
		height				: 100%;
	}

	/* disable text selection */
	* {
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none;   /* Chrome/Safari/Opera */
		-o-user-select: none;
		-khtml-user-select: none;    /* Konqueror */
		-moz-user-select: none;      /* Firefox */
		-ms-user-select: none;       /* Internet Explorer/Edge */
		user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
	}

	p[debug] {
		display				: none;
	}

}

@media screen {

	@keyframes blink {  
		from { opacity: 1.0; }
		to { opacity: 0.0; }
	}

/* http://www.roblaplaca.com/examples/bezierBuilder/
  cubic-bezier(.13, 1.01, -.01, 1.01)
 */

	*[blink] {
		animation			: blink 0.6s cubic-bezier(1.0, 0, 0.7, 1.0) infinite alternate;
	}

	@keyframes noblink {}

	*[noblink] {
		animation			: noblink;
	}

}

@media print {

	@page {
		size				: auto A4 portrait;
		margin-top			: 5mm;
		margin-bottom		: 5mm;
		margin-left			: 5mm;
		margin-right		: 5mm;
	}

}
