@font-face {
	font-family	: "droid";
	src			: url('../assets/fonts/droid.ttf');
	font-weight	: normal;
	font-style	: normal;
}

@font-face {
	font-family	: "Digital-7";
	src			: url('../assets/fonts/digital-7.ttf');
	font-weight	: normal;
	font-style	: normal;
}

@font-face {
	font-family	: "Digital-7";
	src			: url('../assets/fonts/digital-7 (italic).ttf');
	font-weight	: normal;
	font-style	: italic;
}

@font-face {
	font-family	: "Digital-7 Mono";
	src			: url('../assets/fonts/digital-7 (mono).ttf');
	font-weight	: normal;
	font-style	: normal;
}

@font-face {
	font-family	: "Attentica_4F_UltraLight";
	src			: url('../assets/fonts/Attentica_4F_UltraLight.ttf');
	font-weight	: normal;
	font-style	: normal;
}

@media screen /*(max-device-width: 1280px) and (device-aspect-ratio: 4/3)*/ {

	* {
		z-index				: 100;
		/*text-shadow			: 3px 3px 3px #CCCCCC;*/
		/*font-variant		: small-caps;*/
		font-stretch		: ultra-condensed;
		cursor				: none;
	}

	/* disable text selection */
	* {
		-webkit-touch-callout: none;	/* iOS Safari */
		-webkit-user-select	: none;		/* Chrome/Safari/Opera */
		-o-user-select		: none;
		-khtml-user-select	: none;		/* Konqueror */
		-moz-user-select	: none;		/* Firefox */
		-ms-user-select		: none;		/* Internet Explorer/Edge */
		user-select			: none;		/* Non-prefixed version, currently not supported by any browser */
	}

	html > body {
		background-color	: white;
		border				: solid 0px black;
		margin				: 0mm;
		text-align			: center;
		font-family			: "Arial";
		color				: black;
		overflow			: hidden;
	}

	div, img, i, br, p, span, pre, hr {
		margin				: 0;
		padding				: 0;
		width				: 100%;
	}

	div {
		float				: left;
		overflow			: hidden;
	}

	div[btn], div[btc] {
    	min-width			: 32px;
		width				: auto;
		background			: #FFDD57;
		border				: 1px solid #dfba3c;
		border-radius		: 3px;
		box-shadow			: none;
		color				: #5f5b51;
		color				: darkgreen;
		vertical-align		: middle;
		font-size			: 24px;
		font-weight			: bold;
		overflow			: hidden;
		text-align			: center;
		text-overflow		: ellipsis;
		text-decoration		: none;
		text-transform		: uppercase;
		white-space			: nowrap;
		padding-left		: 10px;
		padding-right		: 10px;
		padding-top			: 0px;
		padding-bottom		: 0px;
		margin				: 0;
		height				: 35px;
		line-height			: 35px;
		float				: none;
		position			: relative;
		display				: inline-block;
	}

	div[btc] {
		background			: #D9D9D9;
		color				: #4C3C38;
		border				: 1px solid #CACACA;
	}

	img[btn_ico], img[btn_ico_condensed] {
		width				: 32px;
		height				: 32px;
		float				: none;
		vertical-align		: middle;
	}

	img[btn_ico_condensed] {
		width				: 20px;
	}

	span[ico] {
		background-color	: transparent;
		background-size		: contain;
		background-repeat	: no-repeat;
		background-position	: center;
		width				: auto;
		height				: auto;
		padding-left		: 16px;
		padding-right		: 16px;
		overflow			: hidden;
	}

	span[btn_txt], span[txt] {
		float				: none;
		width				: auto;
		height				: auto;
	}

	html > body > div[plist],
	html > body > div[pinfo],
	html > body > div[pcart] {
		height				: 750px;
	}

	html > body > div[top] {
		height				: 120px;
		padding-bottom		: 3px;
	}

	html > body > div[top] > div[mag] {
		width				: auto;
		height				: inherit;
		text-align			: left;
		float				: left;
		font-size			: 22px;
		font-weight			: bolder;
		text-overflow		: ellipsis;
		text-decoration		: none;
		text-transform		: uppercase;
		max-width			: 20%;
		color				: darkblue;
		margin-left			: 16px;
	}

	html > body > div[top] > div[logo] {
		width				: 17.5%;
		height				: 100%;
		background-color	: transparent;
		background-size		: contain;
		background-repeat	: no-repeat;
		background-position	: center;
		background-image	: url('/resources/assets/logo.jpg')/*, linear-gradient(transparent, gold)*/;
	}

	html > body > div[top] > div[cart_informer] {
		float				: right;
		width				: 45%;
		height				: 96%;
		margin-top			: 1px;
		margin-right		: 1px;
		border				: 3px solid lightgray;
		border-radius		: 5px;
		box-shadow			: none;
		background			:
								radial-gradient(rgba(155, 155, 155, .2) 15%, transparent 16%) 0 0,
								radial-gradient(rgba(155, 155, 155, .2) 15%, transparent 16%) 8px 8px,
								radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
								radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
		background-color	: rgba(255, 200, 0, .5);
		background-size		: 16px 16px;
		text-align			: center;
		display				: none;
	}

	html > body > div[top] > div[cart_informer] > div[cinfo] {
		float				: none;
		width				: auto;
		height				: auto;
		margin-bottom		: 3px;
	}

	html > body > div[top] > div[cart_informer] > div[cinfo] > p {
		width				: auto;
		height				: auto;
		float				: left;
		font-size			: 28px;
		font-weight			: bolder;
		text-overflow		: ellipsis;
		text-decoration		: none;
		text-transform		: uppercase;
		font-family			: droid;
		margin-left			: 3px;
	}

	html > body > div[top] > div[cart_informer] > div[btn][drop],
	html > body > div[top] > div[cart_informer] > div[btn][cart],
	html > body > div[top] > div[cart_informer] > div[btn][cheque] {
		float				: right;
		margin-right		: 3px;
	}

	html > body > div[top] > div[cart_informer] > div[btn][drop] > img[btn_ico] {
		/* fix: shift down */
		margin-top			: -2.1%;
	}

	html > body > div[top] > div[cart_informer] > div[btn][cart] > img[btn_ico] {
		/* fix: shift down */
		margin-top			: -3.1%;
	}

	html > body > div[top] > div[cart_informer] > div[btn][cheque] > img[btn_ico] {
		/* fix: shift down */
		margin-top			: -3.1%;
	}

	html > body > div[top] > div[logo] > img {
		height				: 100%;
	}

	html > body > div[categories] {
		float				: left;
		height				: auto;
		margin-bottom		: 3px;
		text-align			: left;
		width				: auto;
	}

	html > body > div[categories] > div[btc] {
		margin-left			: 3px;
	}

	html > body > div[btn][back] {
		float				: right;
		width				: auto;
		margin-right		: 3px;
		display				: none;
	}

	html > body > div[btn][back] > img[btn_ico] {
		transform			: scaleY(-1); /* flip horizontally */
		/* fix: shift up */
		margin-top			: -5.1%;
	}

	html > body > div[btn][selections] {
		float				: right;
		width				: auto;
		margin-right		: 3px;
		display				: none;
	}

	html > body > div[btn][selections] > img[btn_ico] {
		/* fix: shift up */
		margin-top			: -1.1%;
	}

	html > body > div[categories] > div[btn][clear_selections] {
		z-index				: 1010;
		float				: none;
		width				: auto;
		display				: none;
		writing-mode		: vertical-rl;
		height				: auto;
		overflow			: auto;
		padding-top			: 8px;
		padding-bottom		: 8px;
		position			: fixed;
		top					: 165px;
		left				: calc(100% - 4.85%);
	}

	html > body > div[categories] > div[selections_frame] {
		z-index				: 1000;
		position			: fixed;
		top					: 165px;
		left				: 0.5%;
		width				: 94%;
		min-height			: 158px;
		max-height			: calc(98% - 165px);
		float				: none;
		border				: 3px solid #dfba3c;
		border-radius		: 7px;
		box-shadow			: none;
		background-color	: rgba(255, 255, 255, .89);
		background-size		: contain;
		background-repeat	: no-repeat;
		background-position	: center;
		display				: none;
		text-overflow		: ellipsis;
		text-decoration		: none;
		text-transform		: uppercase;
		white-space			: nowrap;
		text-align			: center;
		vertical-align		: middle;

		-moz-column-count	: 2;
		-moz-column-gap		: 4px;
		-moz-column-width	: auto;
		-moz-column-rule	: dotted 8px #dfba3c;
		-moz-column-fill	: balance;
	}

	html > body > div[categories] > div[selections_frame] > div[property] {
		font-size			: 28px;
		font-weight			: bold;
		float				: none;
		margin-bottom		: 10px;
	}

	html > body > div[categories] > div[selections_frame] > div[property] > div[values] {
		width				: 100%;
		font-size			: 21px;
		font-weight			: normal;
		text-align			: left;
		float				: none;
		margin-top			: 10px;
		overflow			: hidden;

		/*-moz-column-count	: 2;*/
		-moz-column-gap		: 2px;
		-moz-column-width	: auto;
		-moz-column-fill	: balance;
	}

	html > body > div[categories] > div[selections_frame] > div[property] > div[values] > div[value] {
		width				: auto;
		margin-bottom		: 0px;
		float				: none;
		text-overflow		: ellipsis;
		overflow			: hidden;
	}

	/* свойство спецификация производителя масла */
	html > body > div[categories] > div[selections_frame] > div[property][uuid=d315eb14-6e85-11e4-8a48-001e673659ad] > div[values] > div[value] > span[txt] {
		font-size			: 18px;
		/*font-weight			: bolder;*/
		font-family			: "Attentica_4F_UltraLight";
		/*letter-spacing		: -1px;*/
	}

	html > body > div[categories] > div[selections_frame] > div[property] > div[values][one_column] > div[value] {
		float				: left;
		margin-right		: 8px;
		text-overflow		: ellipsis;
		overflow			: hidden;
	}

	html > body > div[categories] > div[selections_frame] > div[property] > div[values] > div[value] > span[check_box][ico] {
		background-image	: url('/resources/assets/check_box_uncheck.ico');
	}

	html > body > div[categories] > div[selections_frame] > div[property] > div[values] > div[value][checked] > span[check_box][ico] {
		background-image	: url('/resources/assets/check_box_mix.ico');
	}

	html > body > div[categories] > div[selections_frame] > div[property] > div[values] > div[value] > span[check_box][txt] {
	}

	html > body > div[btn][select_by_car] {
		float				: right;
		width				: auto;
		margin-right		: 3px;
		display				: none;
	}

	html > body > div[btn][select_by_car] > img[btn_ico] {
		/* fix: shift up */
		margin-top			: -1.1%;
	}

	html > body > div[categories] > div[btn][clear_select_by_car] {
		z-index				: 1010;
		float				: none;
		width				: auto;
		display				: none;
		writing-mode		: vertical-rl;
		height				: auto;
		overflow			: auto;
		padding-top			: 8px;
		padding-bottom		: 8px;
		position			: fixed;
		top					: 165px;
		left				: calc(100% - 4.85%);
	}

	html > body > div[categories] > div[select_by_car_frame] {
		z-index				: 1000;
		position			: fixed;
		top					: 165px;
		left				: 0.5%;
		width				: 94%;
		min-height			: 185px;
		max-height			: calc(98% - 165px);
		float				: none;
		border				: 3px solid #dfba3c;
		border-radius		: 7px;
		box-shadow			: none;
		background-color	: rgba(255, 255, 255, .89);
		background-size		: contain;
		background-repeat	: no-repeat;
		background-position	: center;
		display				: none;
		text-overflow		: ellipsis;
		text-decoration		: none;
		text-transform		: uppercase;
		white-space			: nowrap;
		text-align			: center;
		vertical-align		: middle;
	}

	html > body > div[categories] > div[select_by_car_frame] > div[selector][manufacturer],
	html > body > div[categories] > div[select_by_car_frame] > div[selector][model],
	html > body > div[categories] > div[select_by_car_frame] > div[selector][modification],
	html > body > div[categories] > div[select_by_car_frame] > div[selector][year] {
		float				: left;
		width				: auto;
	}

	html > body > div[categories] > div[select_by_car_frame] > div[selector][year] {
	}

	html > body > div[categories] > div[select_by_car_frame] > div[selector] > span[search_field][ico] {
		background-image	: url('/resources/assets/search_field.ico');
	}

	html > body > div[categories] > div[select_by_car_frame] > div[selector] > span[list_box][ico] {
		background-image	: url('/resources/assets/list_box.ico');
	}

	html > body > div[categories] > div[select_by_car_frame] > div[selector] > span[label] {
		font-size			: 20px;
		font-weight			: bold;
		margin-left			: 8px;
	}

	html > body > div[categories] > div[select_by_car_frame] > div[selector] > img[arrow] {
		width				: 32px;
		height				: 32px;
		float				: none;
		vertical-align		: middle;
		/* fix: shift up */
		margin-top			: -2.1%;
	}

	html > body > div[categories] > div[select_by_car_frame] > div[selector] > span[value] {
		float				: none;
		font-size			: 20px;
		font-weight			: bold;
		color				: darkblue;
	}

	html > body > div[categories] > div[select_by_car_frame] > div[selector][values] {
		float				: left;
		-moz-column-count	: 7;
		-moz-column-gap		: 5px;
		-moz-column-width	: auto;
		/*-moz-column-rule	: dotted 8px #dfba3c;*/
		-moz-column-fill	: balance;
	}

	html > body > div[categories] > div[select_by_car_frame] > div[selector][values] > div[value] {
		float				: none;
		width				: auto;
		text-align			: left;
		font-size			: 21px;
		font-weight			: normal;
		text-overflow		: ellipsis;
		text-decoration		: none;
		text-transform		: uppercase;
	}

	html > body > div[pinfo] {
		width				: 100%;
		display				: none;
		text-align			: center;
	}

	html > body > div[pinfo] > div[pimg] {
		width				: 20%;
		height				: 100%;
		float				: left;
		background-color	: transparent;
		background-size		: contain;
		background-repeat	: no-repeat;
		background-position	: center;
		margin-right		: 3px;
	}

	html > body > div[pinfo] > div[pmid] {
		width				: 50%;
		height				: 100%;
		float				: left;
	}

	html > body > div[pinfo] > div[pright] {
		width				: 29.5%;
		height				: 100%;
		float				: right;
		text-align			: center;
	}

	html > body > div[pinfo] > div[pmid] > p[pname],
	html > body > div[pinfo] > div[pright] > p[pprice],
	html > body > div[pinfo] > div[pright] > p[pquantity],
	html > body > div[pinfo] > div[pright] > p[pincart] {
		width				: 100%;
		height				: auto;
		font-size			: 22px;
		font-weight			: bolder;
		float				: none;
	}

	html > body > div[pinfo] > div[pmid] > div[pproperties] {
		padding				: 3px;
		box-shadow			: none;
		color				: #001289;
		width				: 100%;
		height				: 58%;
		overflow			: auto;
		font-size			: 16px;
		font-weight			: bold;
		text-overflow		: ellipsis;
		text-decoration		: none;
		text-transform		: uppercase;
		float				: none;

		/* http://lea.verou.me/css3patterns */

		/*background-color	: #fff;
		background-image	:
			linear-gradient(90deg, transparent 50%, #abced4 50%, #abced4 50.5%, transparent 50.5%),
			linear-gradient(#eee .1em, transparent .1em);
		background-size		: 100% 1.2em;*/

		background-color	: white;
		background-image	:
								linear-gradient(rgba(0,2,105,.1) 2px, transparent 2px),
								linear-gradient(90deg, rgba(0,2,105,.1) 2px, transparent 2px),
								linear-gradient(rgba(0,2,105,.2) 1px, transparent 1px),
								linear-gradient(90deg, rgba(0,2,105,.2) 1px, transparent 1px);
		background-size		: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
		background-position	: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

		/*-moz-column-count	: 2;*/
		-moz-column-gap		: 8px;
		-moz-column-width	: auto;
		-moz-column-rule	: thick inset blue;
		-moz-column-fill	: auto;
	}

	html > body > div[pinfo] > div[pmid] > p[pproperties_head] {
		color				: black;
		float				: none;
		width				: 100%;
		height				: auto;
		font-size			: 22px;
		font-weight			: bold;
		text-transform		: uppercase;
	}

	html > body > div[pinfo] > div[pmid] > hr {
		color				: gold;
		width				: 100%;
		height				: auto;
		float				: none;
	}

	html > body > div[pinfo] > div[pmid] > div[pproperties] > div[pproperty] {
		width				: 100%;
		height				: auto;
		float				: none;
		white-space			: nowrap;
		text-align			: left;
		vertical-align		: middle;
		text-overflow		: ellipsis;
	}

	html > body > div[pinfo] > div[pmid] > div[pproperties] > div[pproperty] > span[pproperty_name] {
		float				: left;
		width				: auto;
		text-align			: left;
		overflow			: hidden;
		text-overflow		: ellipsis;
	}

	html > body > div[pinfo] > div[pmid] > div[pproperties] > div[pproperty] > span[pproperty_value] {
		float				: left;
		width				: auto;
		text-align			: left;
		overflow			: hidden;
		text-overflow		: ellipsis;
	}

	html > body > div[pinfo] > div[pmid] > div[pdescription] {
		float				: none;
		width				: 100%;
		text-align			: justify;
		font-size			: 13px;
	}

	html > body > div[pinfo] > div[pmid] > div[pdescription] > pre {
		width				: 100%;
		font-family			: droid;
	}

	html > body > div[pinfo] > div[pright] > p[pprice],
	html > body > div[pinfo] > div[pright] > p[pquantity],
	html > body > div[pinfo] > div[pright] > p[pincart] {
		float				: none;
		width				: auto;
		text-align			: left;
		text-overflow		: ellipsis;
		font-family			: droid;
		text-transform		: uppercase;
	}

	html > body > div[pinfo] > div[pright] > div[minus_one] {
		float				: left;
		width				: auto;
		margin-top			: 8px;
		margin-bottom		: 8px;
	}

	html > body > div[pinfo] > div[pright] > p[pbuy_quantity] {
		float				: left;
		width				: auto;
		text-align			: left;
		text-overflow		: ellipsis;
		font-size			: 32px;
		font-weight			: bold;
		text-transform		: uppercase;
		font-family			: droid;
		margin-left			: 8px;
		margin-right		: 8px;
		margin-top			: 8px;
		margin-bottom		: 8px;
	}

	html > body > div[pinfo] > div[pright] > div[plus_one] {
		float				: left;
		width				: auto;
		margin-top			: 8px;
		margin-bottom		: 8px;
	}

	html > body > div[pinfo] > div[pright] > div[plus_one] > img[btn_ico],
	html > body > div[pinfo] > div[pright] > div[minus_one] > img[btn_ico] {
		/* fix: shift up */
		margin-top			: -6.1%;
	}

	html > body > div[pinfo] > div[pright] > div[buy] {
		float				: left;
		width				: auto;
		margin-left			: 16px;
		margin-top			: 8px;
		margin-bottom		: 8px;
	}

	html > body > div[pinfo] > div[pright] > div[buy] > img[btn_ico] {
		/* fix: shift down */
		margin-top			: -3.1%;
	}

	html > body > div[pinfo] > div[pright] > div[premainders] {
		color				: black;
		float				: none;
		width				: 100%;
		height				: auto;
		font-size			: 22px;
		font-weight			: bold;
		text-transform		: uppercase;
	}

	html > body > div[pinfo] > div[pright] > p[premainders_head] {
		color				: black;
		float				: none;
		width				: 100%;
		height				: auto;
		font-size			: 22px;
		font-weight			: bold;
		text-transform		: uppercase;
	}

	html > body > div[pinfo] > div[pright] > hr {
		color				: gold;
		width				: 100%;
		height				: auto;
		float				: none;
	}

	html > body > div[pinfo] > div[pright] > div[premainders] > p[premainder] {
		width				: 100%;
		height				: auto;
		float				: left;
		white-space			: nowrap;
		text-align			: left;
		vertical-align		: middle;
	}

	html > body > div[pinfo] > div[pright] > div[premainders] > p[premainder] > span[pshop_name] {
		float				: left;
		width				: auto;
		text-align			: left;
		text-overflow		: ellipsis;
		font-stretch		: ultra-condensed;
		padding-left		: 5%;
	}

	html > body > div[pinfo] > div[pright] > div[premainders] > p[premainder] > span[pshop_quantity] {
		float				: right;
		width				: auto;
		text-align			: left;
		text-overflow		: ellipsis;
		font-stretch		: ultra-condensed;
		padding-right		: 5%;
	}

	html > body > div[plargeimg] {
		z-index				: 1000;
		position			: fixed;
		top					: 2.5%;
		left				: 2.5%;
		width				: 95%;
		height				: 95%;
		float				: none;
		border				: 3px solid #dfba3c;
		border-radius		: 7px;
		box-shadow			: none;
		background-color	: white;
		background-size		: contain;
		background-repeat	: no-repeat;
		background-position	: center;
		display				: none;
	}

	html > body > div[plist] > div[ptable] {
		height				: 99.5%;
	}

	html > body > div[plist] > div[ptable] > div[pitem] {
		height				: 100%;
	}

	html > body > div[plist] > div[ptable] > div[pitem] > div[buy] > img[btn_ico] {
		/* fix: shift up */
		margin-top			: -8.1%;
	}

	html > body > div[plist] > div[ptable] > div[pitem] > div[pimg] {
		float				: none;
		width				: 100%;
		height				: 50%;
		margin-bottom		: 3px;
		background-color	: transparent;
		background-size		: contain;
		background-repeat	: no-repeat;
		background-position	: center;
	}

	html > body > div[plist] > div[ptable] > div[pitem] > p[pname] {
		float				: none;
		overflow			: hidden;
		height				: 19%;
		margin-bottom		: 3px;
	}

	html > body > div[plist] > div[ptable] > div[pitem] > p[pprice],
	html > body > div[plist] > div[ptable] > div[pitem] > p[pquantity] {
		float				: none;
		overflow			: hidden;
		margin-bottom		: 3px;
		font-size			: 22px;
		font-weight			: bold;
	}

	html > body > div[pcontrols] {
		float				: none;
		vertical-align		: middle;
	}

	html > body > div[pcontrols] > div[psort_controls] {
		width				: 30%;
		float				: left;
		text-align			: left;
	}

	html > body > div[pcontrols] > div[psort_controls] > div[list_sort_order],
	html > body > div[pcontrols] > div[psort_controls] > div[list_sort_direction] {
		margin-left			: 3px;
	}

	html > body > div[pcontrols] > div[psort_controls] > div[list_sort_order] > img[btn_ico],
	html > body > div[pcontrols] > div[psort_controls] > div[list_sort_direction] > img[btn_ico] {
		/* fix: shift up */
		margin-top			: -4.5%;
	}

	html > body > div[pcontrols] > div[plist_controls] {
		width				: 69%;
		float				: right;
		text-align			: right;
	}

	html > body > div[pcontrols] > div[plist_controls] > div[first_page],
	html > body > div[pcontrols] > div[plist_controls] > div[prev_page],
	html > body > div[pcontrols] > div[plist_controls] > div[next_page],
	html > body > div[pcontrols] > div[plist_controls] > div[last_page] {
		margin-right		: 3px;
	}

	html > body > div[pcontrols] > div[plist_controls] > div[btn] > img[btn_ico],
	html > body > div[pcontrols] > div[plist_controls] > div[btn] > img[btn_ico_condensed] {
		/* fix: shift up */
		margin-top			: -5.1%;
	}

	html > body > div[pcart] {
		width				: 100%;
		text-align			: center;
		display				: none;
	}

	html > body > div[pcart] > div[ptable] {
		width				: 100%;
		height				: 90.5%;
	}

	html > body > div[pcart] > div[ptable] > div[pitem] {
		width				: 100%;
		height				: 37px;
		float				: none;
		text-align			: left;
		margin-bottom		: 2px;
		white-space			: nowrap;
		vertical-align		: middle;
	}

	html > body > div[pcart] > div[ptable] > div[pitem] > div[pimg] {
		width				: 2%;
		height				: 100%;
		float				: left;
		background-color	: transparent;
		background-size		: contain;
		background-repeat	: no-repeat;
		background-position	: center;
	}

	html > body > div[pcart] > div[ptable] > div[pitem] > span {
		float				: left;
		text-overflow		: ellipsis;
		font-size			: 25px;
		font-weight			: bold;
		text-decoration		: none;
		text-transform		: uppercase;
		height				: 100%;
		white-space			: nowrap;
	}

	html > body > div[pcart] > div[ptable] > div[pitem] > span[pno] {
		width				: 2%;
		text-align			: right;
		text-overflow		: ellipsis;
		overflow			: hidden;
	}

	html > body > div[pcart] > div[ptable] > div[pitem] > span[pname] {
		width				: 57%;
		text-align			: left;
		text-overflow		: ellipsis;
		overflow			: hidden;
	}

	html > body > div[pcart] > div[ptable] > div[pitem] > span[pprice] {
		width				: 8%;
		text-align			: right;
		text-overflow		: ellipsis;
		overflow			: hidden;
	}

	html > body > div[pcart] > div[ptable] > div[pitem] > span[psum] {
		width				: 8%;
		text-align			: right;
		text-overflow		: ellipsis;
		overflow			: hidden;
	}

	html > body > div[pcart] > div[ptable] > div[pitem] > div[btn][minus_one] {
		float				: right;
		margin-left			: 3px;
		margin-right		: 3px;
	}

	html > body > div[pcart] > div[ptable] > div[pitem] > span[pbuy_quantity] {
		float				: right;
		width				: 3%;
		text-align			: center;
	}

	html > body > div[pcart] > div[ptable] > div[pitem] > div[btn][plus_one] {
		float				: right;
		margin-right		: 3px;
	}

	html > body > div[pcart] > div[ptable] > div[pitem] > div[btn][plus_one] > img[btn_ico],
	html > body > div[pcart] > div[ptable] > div[pitem] > div[btn][minus_one] > img[btn_ico] {
		/* fix: shift up */
		margin-top			: -6.1%;
	}

	html > body > div[pcart] > div[pcontrols] {
		width				: 100%;
	}

	html > body > div[pcart] > div[pcontrols] > div[btn][prev_page],
	html > body > div[pcart] > div[pcontrols] > div[btn][next_page] {
		float				: left;
		margin-left			: 3px;
	}

	html > body > div[pcart] > div[pcontrols] > div[btn] > img[btn_ico] {
		/* fix: shift up */
		margin-top			: -5.1%;
	}

	html > body > div[mount] {
		float				: none;
		background-color	: transparent;
		background-size		: contain;
		background-repeat	: no-repeat;
		background-position	: center;
		background-image	:
								url('/resources/assets/mount.png'),
								linear-gradient(transparent, gold);
								/*linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet),*/
		position			: fixed;
		top					: calc(100% - 128px);
		left				: 0%;
		width				: 100%;
		height				: 145px;
		z-index				: 1;
	}

	html > body > iframe[cheque_print] {
		display				: none;
	}

	html > body > img[vk] {
		/*display				: none;*/
		z-index				: 999;
		position			: absolute;
		top					: 93%;
		left				: 0.5%;
		width				: 40px;
		height				: 32px;
		float				: none;
		background-color	: transparent;
		border				: 0;
	}

	html > body > iframe[vk] {
		display				: none;
		z-index				: 9001;
		position			: absolute;
		top					: calc(100% - 245px);
		left				: calc(50% - 384px);
		width				: 768px;
		height				: 235px;
		float				: none;
		background-color	: transparent;
		border				: 0;
	}

	html > body > div[alert] {
		z-index				: 2000;
		position			: fixed;
		top					: 2.5%;
		left				: 2.5%;
		width				: 95%;
		height				: 95%;
		float				: none;
		border				: 3px solid #dfba3c;
		border-radius		: 7px;
		box-shadow			: none;
		background-color	: rgba(255, 255, 255, .8);/*white;*/
		background-size		: contain;
		background-repeat	: no-repeat;
		background-position	: center;
		display				: none;
		font-size			: 32px;
		font-weight			: bold;
		text-align			: center;
		vertical-align		: middle;
	}

	html > body > div[alert] > pre[error] {
		text-align			: left;
		font-size			: 14px;
		font-weight			: normal;
	}

	html > body > div[debug] {
		width				: 15% !important;
		display				: none;
		font-family			: "droid";
		font-weight			: bold;
		font-size			: 16px;
		position			: fixed;
		top					: 0.3%;
		left				: 39%;
		background			: darksalmon;
		color				: darkgreen;
		border				: solid 1px black;
		text-align			: left;
		white-space			: nowrap;
		display				: none;
	}

	html > body > div[debug] > p {
		display				: none;
	}

	html > body > div[debug] > p > font {

		font-family			: "Digital-7";
		font-size			: 20px;
		font-weight			: normal;
		font-style			: normal;

	}

	/* animation */

	@keyframes blink {  
		from { opacity: 1.0; }
		to { opacity: 0.0; }
	}

	/* http://www.roblaplaca.com/examples/bezierBuilder/
	  cubic-bezier(.13, 1.01, -.01, 1.01)
	 */

	*[blink] {
		animation			: blink 0.6s cubic-bezier(1.0, 0, 0.7, 1.0) infinite alternate;
	}

	@keyframes noblink {}

	*[noblink] {
		animation			: noblink;
	}

	/*@keyframes fadein {
    	from { opacity: 0; }
	    to   { opacity: 1; }
	}*/

	@keyframes fadein {
    	from { transform: scale(0.0); }
	    to   { transform: scale(1.0); }
	}

	*[fadein] {
		animation			: fadein 150ms;
	}

	*[fadein][instant] {
		animation			: fadein 0ms;
	}

	*[blink][fadein] {
		animation			: blink 0.6s cubic-bezier(1.0, 0, 0.7, 1.0) infinite alternate, fadein 200ms;
	}

	/*@keyframes fadeout {
    	from { opacity: 1; }
	    to   { opacity: 0; }
	}*/

	@keyframes fadeout {
    	from { transform: scale(1.0); }
	    to   { transform: scale(0.0); }
	}

	*[fadeout] {
		animation			: fadeout 150ms;
	}

	*[fadeout][instant] {
		animation			: fadeout 0ms;
	}

	*[blink][fadeout] {
		animation			: blink 0.6s cubic-bezier(1.0, 0, 0.7, 1.0) infinite alternate, fadeout 2000ms;
	}

}
